li{
    color:rgb(7, 92, 177)
}
header{
    color:rgb(241, 4, 4);
    text-decoration: underline;
    
}
header{
   font-family: 'impact','Arial Bold', sans-serif;

}
body{
    background-color: rgb(218, 200, 0);
}
   button{
    background-color: cornflowerblue;
   }
    a{
        text-decoration:none;
        color: blueviolet;
    }
    h1{
       box-decoration-break: slice;
    }
   pre{
    box-shadow: 0ic;
    background-color: aqua;
    width:230px;
    border-style:solid;
    border-radius: 14px;
   }